{% extends base.html %}
{% block core %}
<div class="span9">

{% from cms import config %}

<div class="page-header">
    <h1>{{ _("Change Password") }}</h1>
</div>

<!-- <h2>{{ _("Questions") }}</h2> -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" action="{{ url_root }}/change_password" method="POST">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input_subject">{{ _("Current Password") }}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="current_password" id="input_subject"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input_subject">{{ _("New Password") }}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="new_password" id="input_subject"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input_subject">{{ _("Confirm Password") }}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="confirm_password" id="input_subject"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <div class="row">
                            <button type="submit" class="btn btn-primary" type="submit">{{ _("Change") }}</button>
                            <button type="reset" class="btn" type="submit">{{ _("Reset") }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
{% end %}