{% extends base.html %}
{% block core %}

{% from cms.server import format_token_rules, format_size %}
{% from cms.grading.tasktypes import get_task_type %}
{% import json %}

{% if actual_phase == 0 %}

<div class="page-header">
	<h1>{% raw _("%(name)s (%(short_name)s)") % {"name": task.title, "short_name": task.name} %}</h1>
</div>

<table class="table table-bordered table-nohover" style="table-layout: fixed">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>{{ _("Type") }}</th>
            <td colspan="2">{% set task_type = get_task_type(dataset=task.active_dataset) %}{{ task_type.name }}</td>
        </tr>
{% if task.active_dataset.time_limit is not None %}
        <tr>
            <th>{{ _("Time limit") }}</th>
            <td colspan="2">
    {% if task.active_dataset.time_limit == 1.0 %}
        {{ _("%(seconds)g second") % {"seconds": task.active_dataset.time_limit} }}
    {% else %}
        {{ _("%(seconds)g seconds") % {"seconds": task.active_dataset.time_limit} }}
    {% end %}
            </td>
        </tr>
{% end %}
{% if task.active_dataset.memory_limit is not None %}
        <tr>
            <th>{{ _("Memory limit") }}</th>
            <td colspan="2">{{ _("%(mb)d MiB") % {"mb": task.active_dataset.memory_limit} }}</td>
        </tr>
{% end %}
{% set compilation_commands = task_type.get_compilation_commands([x.filename for x in task.submission_format]) %}
{% if compilation_commands is not None %}
{% set compilation_commands = {lang: compilation_commands[lang] for lang in contest.languages} %}
<tr>
    <th rowspan="{{ len(compilation_commands) }}">{{ _("Compilation commands") }}</th>
    {% for i, (l, c) in enumerate(sorted(compilation_commands.iteritems())) %}
        {% if i > 0 %}
</tr>
<tr>
        {% end %}
    <td>{{ LANGUAGE_NAMES[l] }}</td>
    <td class="compilation_command_cell">
{% for cmd in c %}
        <code class="compilation_command">{{ " ".join(cmd) }}</code>
{% end %}
    </td>
    {% end %}
</tr>
{% end %}
    </tbody>
</table>

<div class="task-btn">
{% if len(task.statements) >= 1 %}
{% for lang_code in task.statements %}
	<a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(lang_code) }}" class="btn btn-primary task-btn-margin">{{ _("Download task statement") }}</a>
{% end %}
{% end %}
	<a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/submissions" class="btn btn-default btn-danger">{{ _("Submissions") }}</a>
</div>

{% end %}
{% end %}
